article {
  display: inline-flex;
  margin-top: 2rem;
  max-height: 23rem;
  width: 50%;

  section {
    display: flex;
    width: 50%;

    &:last-child {
      justify-content: flex-end;
    }
  }

  button {
    height: 3rem;
    margin: 0 0 auto;
  }
}
