<article class="mainContainer">
  <section class="textCenter">
    <h3>Description</h3>
    <p>
      Cet outil génère une liste de nombres entiers aléatoires d'une longueur
      définie par l'utilisateur comprise entre 1 et 100.
      <br />
      Il va également vérifier si le nombre est divisible par 3, 5 ou les deux.
    </p>
  </section>
  <hr />
  <section>
    <h3>Exemple</h3>
    <p>
      <span> Divisible par 3:&nbsp; </span
      ><app-list-item [item]="exempleItem1"></app-list-item>
      <br />
      <span> Divisible par 5:&nbsp; </span
      ><app-list-item [item]="exempleItem2"></app-list-item>
      <br />
      <span> Divisible par les deux:&nbsp; </span>
      <app-list-item [item]="exempleItem3"></app-list-item>
    </p>
  </section>
</article>
